{% extends 'main/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
<div>
<table style="margin: 15px;border : 5ex;max-width: 100%;font-size: large;">
	<tr>
		<td>Hard deadline for paper submission:</td>
		<td>July 17, 2023:</td>		
	</tr>
	<tr>
		<td>Notification of paper acceptance:</td>
		<td>September 4, 2023</td>		
	</tr>
	<tr>
		<td>Submission of final camera-ready papers:</td>
		<td>September 11, 2023</td>		
	</tr>
	<tr>
		<td>Deadline for registration:</td>
		<td>October 2, 2023</td>		
	</tr>	
	<tr>
		<td>iCast 2017:</td>
		<td>Nov. 9-11, 2023</td>		
	</tr>	
</table>


</div>
{% endblock %}

{% block script %}

{% endblock %}