<ul id="menu">
  <li><a href="{% url 'main:main' %}">Home</a></li> 
  <li><a href="{% url 'main:CallForPapers' %}">Call for Papers</a></li>
  <li><a href="{% url 'main:PaperSubmission' %}">Paper Submission</a></li>
  <li><a href="{% url 'main:SpecialSessionSubmission' %}">Special Session Submission</a></li>
  <li><a href="{% url 'main:Publication' %}">Publication</a></li>
  <li><a href="{% url 'main:ImportantDates' %}">Important Dates</a></li>
  <li><a href="{% url 'main:CameraReadyPaperSubmission' %}">Camera-Ready Paper Submission</a></li>
  <li><a href="{% url 'main:Registration' %}">Registration</a></li>
  <li><a href="{% url 'main:OrganizingCommittee' %}">Organizing Committee</a></li>
  <li><a href="{% url 'main:ConferenceProgram' %}">Conference Program</a></li>
  <li><a href="{% url 'main:KeynoteSpeakers' %}">Keynote Speakers</a></li>
  <li><a href="{% url 'main:Sponsors' %}">Sponsors</a></li>
  <li><a href="{% url 'main:BestPaperAward' %}">Best Paper Award</a></li>
  <li><a href="{% url 'main:PreviousConference' %}">Previous Conference</a></li>
  <li><a href="{% url 'main:AboutChaoyangUniversityofTechnology' %}">About Chaoyang University of Technology</a></li>
  <li><a href="{% url 'main:VenueAndAccommodation' %}">Venue and Accommodation</a></li>
    
</ul>