{% extends 'main/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
<div>
<p>•	Int. Workshop on Aware Computing (IWAC 2009), Aizu-Wakamatsu, Japan (Sept. 17 - 18, 2009)<p>
<p>•	<a href="http://conf.ncku.edu.tw/isac2010/" >Int. Symposium on Aware Computing (ISAC 2010)</a>, Tainan, Taiwan (Nov. 1 - 4, 2010)<p>
<p>•	iCAST 2011, Dalian, China (Sept. 27 - 30, 2011)<p>
<p>•	iCAST 2012, Seoul, Korea (Aug. 21 - 14, 2012)<p>
<p>•	<a href="http://web-ext.u-aizu.ac.jp/conference/conf2013/icast13/" >iCAST 2013</a>, Aizu-Wakamatsu, Japan (Nov. 2 - 4, 2013)<p>
<p>•	iCAST 2014, Paris, France (Oct. 129 - 31, 2014)<p>
<p>•	<a href="http://web-ext.u-aizu.ac.jp/conference/icast15/" >iCAST 2015</a>, Qinhuangdao, China (Sept. 22 - 24, 2015)<p>
<p>•	<a href="http://icast2017.csie.cyut.edu.tw/" >iCAST 2017</a>, Taichung, Taiwan (Nov. 8-10, 2017)<p>
<p>•	<a href="https://icast.isas.or.id/2018/" >iCAST 2018</a>, Manado, Indonesia (Oct. 26-27, 2018)<p>
<p>•	<a href="http://www.chishiki.soft.iwate-pu.ac.jp/icast2019/previous.html" >iCAST 2019</a>, Morioka, Japan (Oct. 23-25, 2019)<p>
<p>•	<a href="https://searchworks.stanford.edu/view/13901874" >iCAST 2020</a>, Qingdao, China (Online)<p>
</div>
{% endblock %}

{% block script %}

{% endblock %}